name: CI

on:
  push:
    branches: ['**', '!gh-pages']
  pull_request:
    branches: ['**', '!gh-pages']
  create:
    tags: 'v[0-9]*'

jobs:

  test:
    name: Test on ${{ matrix.os }}
    strategy:
      matrix: { os: [ubuntu-latest] }
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-${{ hashFiles('package.json', 'package-lock.json') }}
          restore-keys: ${{ runner.os }}-
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
      - run: |
          npm install
          xvfb-run --auto-servernum npm test
          npm run lint

  deploy:
    name: Deploy on ${{ matrix.os }}
    needs: test
    if: |
      github.event_name == 'create' &&
      startsWith(github.ref, 'refs/tags/')
    strategy:
      matrix: { os: [ubuntu-latest] }
    permissions:
      id-token: write
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-${{ hashFiles('package.json', 'package-lock.json') }}
          restore-keys: ${{ runner.os }}-
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - run: |
          npm install
          #npm run dist
          sed -i 's/"private":\ true/"private":\ false/' package.json
          sed -i -E 's/^dist\/?.*$//' .gitignore
          mv src/* .
      - run: npm publish

  benchmark:
    name: Benchmark on ${{ matrix.os }}
    needs: test
    if: |
      github.event_name == 'push' ||
      github.event_name == 'pull_request'
    strategy:
      matrix: { os: [ubuntu-latest] }
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-${{ hashFiles('package.json', 'package-lock.json') }}
          restore-keys: ${{ runner.os }}-
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
      - run: |
          npx envinfo -yes
          npm install
          xvfb-run --auto-servernum npm run bench
